/*Header*/
.nav-event{
    background: #C33622;
}


/* Filtro */
.img-filtro {
    background-image: url("img/filtro_imagen.webp");
    text-align: center;
    background-position: center;
    min-height: 20vw;
    padding: 1em;
}

.filtro{
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.filtro-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
 
.form-control {
    border-radius: 0px;
    padding: 0.8em;
}

#title-filtro {
    color: white;
}

#button-filtro {
    background: #C33622;
    color: white;
    border: 1px solid #C33622;
    transition: all 0.25s ease-out;
}

#button-filtro:hover {
    background: #9c3527;
    border: 1px solid #9c3527;
    transform: scale(1.1);
}

#buscador {
    width: 25%;
}

.dropdown {
    appearance: none;
    -webkit-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 6'><polygon points='0,0 5,6 10,0'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    padding-right: 25px;
}

.dropdown:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}






/* Contenido principal index */
.eventos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
    margin-bottom: 50px;
}

img.img-fest{
    width: 100%;
}

.titulo {
    padding: 60px;
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 80px;
    line-height: 80px;
    flex-direction: row;
    justify-content: center;
}

.evento-container {
    gap: 20px;
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: #d1d1d1;
    border-radius: 6px;
    box-shadow: 0px 2px 3px rgba(0,0,0,.6);

}

.texts{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 20px;
    align-items: flex-start;
}

.event-titulo{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 40px;
    line-height: 40px;
}

.sitio{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 19px;
    line-height: 19px;
}

.fecha{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 19px;
    line-height: 19px;
}

.precio{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 19px;
    line-height: 19px;
    display: flex;
    flex-direction: row;
    gap: 250px;
    padding-bottom: 20px;
}

a.button-event-red{
    background-color: #FF2929;
    padding: 10px 10px;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 19px;
    line-height: 19px;
}


/* Footer */
a {
    text-decoration: none;
    color: white;
}
.pre-footer {
	background-color: #C33622;
	color: #FFFFFF;
	padding-top: 15px;
	padding-bottom: 25px;
	margin-top: 60px;
    text-align: center;
}

.footer {
	background-color: #444;
	color: white;
	padding-top: 20px;
    text-align: center;
}
