/*Header*/
.nav-event {
  background: #ff0000;
}

main {
  background: black;
}

span.page-link.active {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 23px;
  line-height: 40px;
  color: #ff0000;
}

/* Filtro */
.img-filtro {
  background-image: url("../img/homeEventos/filtro_imagen.webp");
  text-align: center;
  background-position: center;
  min-height: 20vw;
  padding: 1em;
}

.filtro {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.filtro-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-control {
  border-radius: 0px;
  padding: 0.8em;
}

#title-filtro {
  color: white;
}

#button-filtro {
  background: #ff2323;
  color: white;
  border: 1px solid #C33622;
  transition: all 0.25s ease-out;
}

#button-filtro:hover {
  background: #ff0000;
  transform: scale(1.1);
}

#button-limpiar {
  background: #C33622;
  color: white;
  border: 1px solid #C33622;
  transition: all 0.25s ease-out;
}

#button-limpiar:hover {
  background: #9c3527;
  border: 1px solid #9c3527;
  transform: scale(1.1);
}

#buscador {
  width: 25%;
}

.dropdown {
  appearance: none;
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 6'><polygon points='0,0 5,6 10,0'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  padding-right: 25px;
}

.dropdown:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

div#paginator {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 50px;
  padding-left: 20px;
  color: white;
}

/* Contenido principal index */
.eventos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  gap: 30px;
}

img.img-fest {
  width: 100%;
}

.evento-container {
  gap: 20px;
  display: flex;
  flex-direction: column;
  background-color: #dcdcdc;
  border-radius: 6px;
  box-shadow: 2px 2px 14px 0px #fff;
  width: 30%;
}

.evento-container {
  transition: transform 0.3s ease;
}

.evento-container:hover {
  transform: scale(1.05);
}

.event-img img {
  max-width: 100%;
}

.bloque {
  display: flex;
  flex-direction: row;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.event-titulo {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
}

.sitio {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 19px;
  line-height: 19px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.fecha {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 19px;
  line-height: 19px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.precio {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 19px;
  line-height: 19px;
  display: flex;
  flex-direction: row;
  color: #327680;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

a.button-event-red {
  background-color: #3c969e;
  padding: 10px 10px;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 19px;
  line-height: 19px;
}

.button-event-red:hover {
  background-color: #327680;
}

a.button-event-cat {
  background-color: #7c7c7cd6;
  padding: 10px 10px;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 19px;
  line-height: 19px;
}

.button-event-cat:hover {
  background-color: #656565;
}


/* Footer */
a {
  text-decoration: none;
  color: white;
}

.pre-footer {
  background-color: #ff0000;
  color: #FFFFFF;
  padding-top: 15px;
  padding-bottom: 25px;
}

.footer {
  background-color: #444;
  color: white;
  padding-top: 20px;
}



/*event_filtro*/
.filtro-eventos {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px 0px 30px 70px;
}

img.img-buscar {
  width: 4%;
}

.filtro-buscar {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 72px;
  line-height: 80px;
  padding-left: 20px;
  color: white;
}

/*ev_nombre*/

.bloque-img-evento {
  display: flex;
  flex-direction: column;
}

img.img-nombre {
  width: 100%;
  height: 350px;
}

.bloque-texts {
  display: flex;
  flex-direction: row;
  padding: 20px 50px;
  align-items: center;
  background-color: white;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, .6);
}

.detalles-ev {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px
}

.titulos {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 19px;
  line-height: 19px;
}

.descripcion-evnt {
  padding: 20px 50px;
}

.titulos-evento {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  color: white;
}

.bloque-descripcion {
  display: flex;
  gap: 15px;
  flex-direction: row;
  padding-top: 20px;
}

.event-text {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 17px;
  line-height: 20px;
  color: white;
}

.box-evento {
  background-color: #327680;
}

/* Formulario crear evento/contacto*/
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.form-event {
  max-width: 75%;
  margin: 2em auto 0 auto;
  padding: 2em;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-event label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
  color: #ffffff;
}

.label-img {
  display: flex;
}

.form-event input[type="text"],
.form-event input[type="number"],
.form-event input[type="date"],
.form-event input[type="url"] {
  display: block;
  width: 100%;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}

.form-event input[type="text"]:focus,
.form-event input[type="number"]:focus,
.form-event input[type="date"]:focus,
.form-event input[type="url"]:focus {
  outline: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.form-event button[type="submit"] {
  display: block;
  width: 100%;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}

select {
  max-width: 100%;
}

textarea {
  width: 100%;
}

/* SOBRE NOSOTROS */
#entranet {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #f8f9fa;
  text-align: justify;
  line-height: 1.5;
}

#entranet h1 {
  color: #007bff;
  font-weight: 700;
  margin-bottom: 3rem;
}

#entranet p {
  color: #333;
  margin-bottom: 2rem;
}




/* PREGUNTAS FRECUENTES */
.faq-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
}

.faq-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.faq {
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
}

.faq-question {
  position: relative;
  padding-top: 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.faq-text {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #f0f0f0;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.faq-text:hover {
  background-color: #e0e0e0;
}

.question-text {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 1rem;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.faq-answer p {
  margin-left: 2rem;
  margin-right: 1rem;
  color: #333;
  line-height: 1.5;
}

.faq:last-child {
  border-bottom: none;
}

.faq:focus-within .faq-answer {
  max-height: 100vh;
}

.faq-text[aria-expanded="true"] {
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.faq-text[aria-expanded="true"]::after {
  content: "[-]";
  display: inline-block;
  margin-left: 0.5rem;
}

.faq-text[aria-expanded="false"]::after {
  content: "[+]";
  display: inline-block;
  margin-left: 0.5rem;
}

.img-der-evento {
  width: 100%;
}

.eventos-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*Login */

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 80%;
}

.login-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 50%;
}

form.form-login {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.container-login {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: black;
}

.img-login {
  width: 50%;
}

.title-login {
  color: white;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.5px;
}

.label-login {
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.5px;
}

.input-login {
  padding: 12px 12px;
  border-radius: 4px;
  border: 2px solid #C33622;
  width: 100%;
}

.send-button {
  display: flex;
  padding: 12px 14px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0px solid transparent;
  background: var(--Primary-400, #e63d3d);
  color: var(--Secondary-50, white);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.3px;
  cursor: pointer;
}

a.nav-link.text-light {
  font-size: 22px;
  line-height: 22px;
}

a.navbar-brand.text-light {
  font-size: 28px;
  line-height: 29px;
  font-weight: 600;
}

@media screen and (min-width: 1400px) and (max-width: 1760px) {
  .filtro-buscar {
    font-size: 56px;
    line-height: 56px;
  }

  .event-titulo {
    font-size: 28px;
    line-height: 28px;
  }

  a.nav-link.text-light {
    font-size: 17px;
    line-height: 17px;
  }

  a.navbar-brand.text-light {
    font-size: 23px;
    line-height: 23px;
  }

  .evento-container {
    width: 40%;
  }

}

@media screen and (min-width: 701px) and (max-width: 1399px) {
  a.nav-link.text-light {
    font-size: 17px;
    line-height: 17px;
  }

  a.navbar-brand.text-light {
    font-size: 23px;
    line-height: 23px;
  }

  .filtro-buscar {
    font-size: 40px;
    line-height: 40px;
  }

  .event-titulo {
    font-size: 24px;
    line-height: 24px;
  }

  div#paginator {
    font-size: 18px;
  }

  a.button-event-cat {
    font-size: 17px;
    line-height: 19px;
  }

  a.button-event-red {
    font-size: 17px;
    line-height: 19px;
  }

  .sitio {

    font-size: 17px;
    line-height: 19px;
  }

  .fecha {
    font-size: 17px;
    line-height: 19px;
  }

  .precio {
    font-size: 17px;
    line-height: 19px;
  }

  .evento-container {
    width: 40%;
  }

  .login-block {
    width: 100%;
    padding: 20px;
  }

  .img-login {
    width: 100%;
  }

  .container-login {
    flex-direction: column-reverse;
  }

}


@media screen and (min-width: 60px) and (max-width: 700px) {

  a.nav-link.text-light {
    font-size: 16px;
    line-height: 20px;
  }

  a.navbar-brand.text-light {
    font-size: 20px;
    line-height: 20px;
  }

  .filtro-buscar {
    font-size: 30px;
    line-height: 30px;
  }

  .evento-container {
    width: 100%;
  }

  .filtro-eventos {
    padding: 20px;
  }

  img.img-buscar {
    width: 10%;
  }

  .event-titulo {
    font-size: 17px;
    line-height: 20px;
  }

  .sitio,
  .precio,
  .fecha {
    font-size: 16px;
    line-height: 19px;
  }

  a.button-event-cat,
  a.button-event-red {
    font-size: 16px;
    line-height: 19px;
  }
}